# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.vscode
.antigravitycli
# dependencies
frontend/node_modules
frontend/.pnp
frontend/*.pnp.*
frontend/*.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.gitignore
# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/*npm-debug.log*
frontend/*yarn-debug.log*
frontend/*yarn-error.log*
frontend/*.pnpm-debug.log*

# env files (can opt-in for committing if needed)
*.env*

# vercel
*.vercel

# typescript
*.tsbuildinfo
*next-env.d.ts
.venv/
venv/
__pycache__/
*.pyc

training/data/
training/reports/
training/models/*.pkl
training/models/*.keras
training/models/*.h5
training/models/*.tflite
training/models/*.onnx

# Do NOT ignore .joblib or .pt inside ml_service/models/ because they are needed for production!
!ml_service/models/*.joblib
!ml_service/models/*.pt

# Arduino/ESP32 Ignore
firmware/NeuroFlow_ESP32/build/
*.bin
*.elf

.env
.env.local
node_modules/
.next/
